.env
.idea/
.vscode/
__pycache__/
*.py[cod]

data/uploads/*
!data/uploads/.gitkeep
data/results/*
!data/results/.gitkeep
#data/knowledge/normative/source/*
#!data/knowledge/normative/source/.gitkeep
#data/knowledge/experience/cases/*
#!data/knowledge/experience/cases/.gitkeep
